Facebook.Tools/Facebook.Tools.EventCreator/obj/Debug/
Facebook.Tools\Facebook.Tools.EventCreator\bin\Debug/
Facebook.Tools/Facebook.Tools.EventCreator/bin/Debug/
Facebook.Tools/Facebook.Tools.Install/Facebook.Tools.Install/Express/DVD-5/LogFiles/error
Facebook.Tools/Facebook.Tools.Install/Facebook.Tools.Install/Express/DVD-5/Reports/6-14-2013 02-43-03 PM.htm
Facebook.Tools/Facebook.Tools.Install/Facebook.Tools.Install/Express/DVD-5/LogFiles/6-14-2013 02-42-56 PM.txt
Facebook.Tools/Facebook.Tools.Install/Facebook.Tools.Install/Express/DVD-5/DiskImages/DISK1/CreateFacebookEvents.zip
